@model BlogPostMoreArticleItemVM;

<div class="flex space-x-6">
    <img class="aspect-square h-full object-cover object-center" src="@Model.ImageUrl" alt=""/>
    <div class="py-2">
        <p class="mb-2 text-xl font-semibold text-gray-800">@Model.Title</p>
        <p class="text-slate-500">@Model.Text</p>
        <hr class="my-4"/>
        <div class="flex items-center justify-between text-sm text-gray-400">
            <p>@Model.ReadTime read</p>
            <p>@Model.CreatedOn</p>
        </div>
    </div>
</div>