@model DevsTutorialCenterMVC.Models.Api.BlogPostVM;

<div class="flex justify-between space-x-5">
    <img class="aspect-[16/10] w-2/5 overflow-hidden object-cover object-center" src="@Model.ImageUrl"/>
    <div class="flex w-3/5 flex-col justify-evenly">
        <p class="text-xl font-semibold text-gray-800">
            @Model.Title
        </p>
        <p>
            @if (@Model.Text.Length > 50)
            {
                @Model.Text[..50]
            }
            else
            {
                @Model.Text
            }
            ...
        </p>
    </div>
</div>